*{
  padding: 0;
  margin: 0;
}

/* modal para modificacion de turnos */
.modalModificar .modal-dialog{
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-width: 70vw !important;
  height: 100% !important;
}

/* Estilo personalizado para las flechas del carrusel */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black; /* Cambiar el color de fondo de las flechas a negro */
}

/* Estilo para cambiar el color del borde de las flechas */
.carousel-control-prev, .carousel-control-next {
  border-color: black; /* Cambiar el color del borde de las flechas a negro */
}

.contenedorLogin{
  height: 100vh;
}

.contenedorInputs{
  background-color: #4E9BE1;
}

.contenedorImagen {
  background-image: url('https://s.france24.com/media/display/1da38e12-192f-11eb-96f6-005056bff430/w:980/p:16x9/0991248cb87a04613c2ec99252bcb45a4762b0ad.jpg');
  background-size: cover; /* Para ajustar la imagen al tamaño del div */
  background-position: center; /* Para centrar la imagen en el div */
}
